<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>Lista</title>
</head>
<body>
  {{>header}}
  <div class="columns" style="padding: 20px; margin-left:90px">
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Cuerpo</th>
        <th></th>
        <th></th>
      </tr>
        {{#each notes}}
        <tr>
          <td>{{id}}</td>
          <td>{{title}}</td>
          <td>{{body}}</td>
          <td><a href="/edit/{{id}}" title="Editar">Editar</a></td>
          <td>
            <a href="/delete_note/{{id}}" title="Elminar">Eliminar</a>
          </td>
        </tr>
        {{/each}}
    </table>
  </div>
  {{>footer}}
</body>
</html>